/* STYLE FOR BRAINGENIX PROJECT PAGE */

/* GENERAL STYLING */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0E0E0E;
}

.hero-landing {
  min-height: 640px;
  background-image: url('Assets/Images/hero-bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
}

.hero-landing p.subtitle {
  font-size: 36px;
  color: white;
}

/* NAVBAR */
body nav {
  width: 100%;
  height: 57px;
  position: fixed;
  background-color: #0E0E0E;
  user-select: none;
  padding: 10px;
  top: 0;
  left: 0;
  text-align: right;
  box-sizing: border-box;
  border: 1px solid #B8B8B8;
  border-width: 0 0 2px 0;
  font-size: 24px;
  z-index: 1;
}

body nav .header-logo-link {
    position: absolute;
    left: 15px;
    top: 6px;
}

body nav .header-logo {
  max-width: 150px;
  position: absolute;
  top: -5px;
  left: -48px;
}

body nav a.header-logo-link {
  text-decoration: none;
  color: #B8B8B8;
  font-size: 24px;
  opacity: 1;
  transition: 300ms;
  position: absolute;
  top: 13px;
  left: 65px;
  font-family: Roboto, sans-serif;
}

body nav a.header-logo-link:hover {
  color: #B8B8B8;
  opacity: .8;
  transition: 300ms;
}

body nav ul {
    list-style: none;
    display: inline-block;
    margin: 3px;
}

body nav ul li {
  display: inline-block;
  padding: 0 10px;
}

body nav ul a {
  color: #B8B8B8;
  opacity: 1;
  transition: 300ms;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  text-decoration: none;
}

body nav a {
  opacity: 1;
  transition: 300ms;
}

body nav a.github-link {
  color: #B8B8B8;
  margin: 0 5px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}

body nav a:hover {
  color: #09CB1D;
  transition: 300ms;
}

/* CONTENT */
#content {
  margin-top: 57px;
}

#content article {
  max-width: 960px;
  margin: 15px auto;
  position: relative;
}

.texture {
  background-image: url('Assets/Images/binding-dark.png');
  background-position: center;
  background-color: #1C1C1C;
  background-repeat: repeat;
  border: 2px solid #444444;
  border-width: 2px 0 2px 0;
}

/* COMPONENTS */
.card {
  background-color: #3A3A3A;
  border-radius: 15px;
  padding: 25px;
  display: inline-block;
  max-width: 600px;
  min-height: 220px;
  margin: auto;
  vertical-align: top;
  box-sizing: border-box;
}

.card h3 {
  font-weight: 400;
  color: hsl(0, 0%, 72%);
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 15px;
}

.card p {
  font-size: 14px;
  color: #8D8D8D;
  text-align: left;
}

.section {
  padding: 45px 15px;
}

.section h2 {
  text-align: center;
  font-weight: 900;
  color: #09CB1D;
}

/* HERO SECTION */
img.hero {
  max-width: 100%;
}

.hero-landing h1 {
  font-size: 42px;
  font-weight: 900;
  color: #09CB1D;
  font-family: Roboto, sans-serif;
}

/* GETTING STARTED */
#getting-started {
  text-align: center;
}

#getting-started .card {
  height: 250px;
  width: 303px;
}

/* FOOTER */
footer.texture {
  width: 100%;
  padding: 25px;
  min-height: 350px;
  box-sizing: border-box;
  border-bottom-width: 0;
}

footer div.site-info {
  color: #B8B8B8;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

footer div.site-info a {
  color: #B8B8B8;
  text-decoration: none;
  transition: 300ms;
}

footer p.footer-branding {
  font-size: 34.2px;
  color: #B8B8B8;
}

footer p.footer-branding a {
  opacity: 1;
  transition: 300ms;
}

footer p.footer-branding a:hover {
  opacity: .8;
  transition: 300ms;
}

footer p.footer-branding img {
  position: relative;
  left: -5px;
  top: 16px;
}

footer p.footer-info {
  font-size: 13px;
}

footer p.footer-info a:hover {
  color: #09CB1D;
  transition: 300ms;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1006px) {
  #content {
    padding: 0 15px;
  }
}