/* STYLE FOR BRAINGENIX PROJECT PAGE */

/* GENERAL STYLING */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #0E0E0E;
}

::selection {
  background-color: rgba(180, 180, 180, 0.3);
}

.hero-landing {
  min-height: 640px;
  background-image: url('Assets/Images/hero-bg.png');
  background-size: cover;
  background-position: center;
  width: 100%;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
}

.hero-landing .column {
  display: inline-block;
  max-width: 562px;
  vertical-align: top;
}

.hero-landing p.subtitle {
  font-size: 37px;
  font-weight: 200;
  letter-spacing: .025em;
  color: white;
  text-shadow: 0 0 15px black;
  line-height: 1.1;
  user-select: text;
  -webkit-user-select: text;
}

hr {
  border: 1px solid #B7B7B7;
  border-width: 0 0 1px 0;
}

/* NAVBAR */
body nav {
  width: 100%;
  height: 100%;
  max-height: 57px;
  position: fixed;
  background-color: #0E0E0E;
  overflow: hidden;
  user-select: none;
  padding: 10px;
  top: 0;
  left: 0;
  text-align: right;
  box-sizing: border-box;
  border: 1px solid #B8B8B8;
  border-width: 0 0 2px 0;
  font-size: 24px;
  z-index: 1;
  transition: 800ms;
}

body nav .header-logo-link {
    position: absolute;
    left: 15px;
    top: 6px;
}

body nav .header-logo {
  max-width: 150px;
  position: absolute;
  top: -5px;
  left: -48px;
}

body nav a.header-logo-link {
  text-decoration: none;
  color: #B8B8B8;
  font-size: 24px;
  opacity: 1;
  transition: 300ms;
  position: absolute;
  top: 13px;
  left: 65px;
  font-family: Roboto, sans-serif;
}

body nav a.header-logo-link:hover {
  color: #B8B8B8;
  opacity: .8;
  transition: 300ms;
}

body nav ul {
    list-style: none;
    display: inline-block;
    margin: 3px;
}

body nav ul li {
  display: inline-block;
  padding: 0 10px;
}

body nav ul a {
  color: #B8B8B8;
  opacity: 1;
  transition: 300ms;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
  text-decoration: none;
}

body nav a {
  opacity: 1;
  transition: 300ms;
}

body nav a.github-link {
  color: #B8B8B8;
  margin: 0 5px;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  text-transform: none;
}

body nav a:hover {
  color: #37a843;
  transition: 300ms;
}

body nav.active {
  max-height: 100vh;
  transition: 800ms;
}

.b-hamburger {
  position: relative;
  top: 7.5px;
  margin-right: 12px;
  display: none;
}

.b-hamburger .b-ham-inner {
  background-color: #B8B8B8;
  border-radius: 3px;
}

/* CONTENT */
#content {
  margin-top: 57px;
}

#content article {
  max-width: 960px;
  margin: 15px auto;
  position: relative;
}

.texture {
  background-image: url('Assets/Images/binding-dark.png');
  background-position: center;
  background-color: #1C1C1C;
  background-repeat: repeat;
  border: 2px solid #444444;
  border-width: 2px 0 2px 0;
}

/* COMPONENTS */
.card {
  background-color: #3A3A3A;
  border-radius: 15px;
  padding: 25px;
  display: inline-block;
  max-width: 600px;
  min-height: 220px;
  margin: auto;
  vertical-align: top;
  box-sizing: border-box;
  position: relative;
}

.card h3 {
  font-weight: 400;
  color: hsl(0, 0%, 72%);
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 15px;
}

.card p {
  font-size: 14px;
  color: #8D8D8D;
  text-align: left;
  line-height: 1.3;
}

.card .button-cont {
  position: absolute;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 25px;
  width: 100%;
  user-select: none;
  -webkit-user-select: none;
}

.card .button-cont .card-button {
  background-color: #292929;
  font-size: 16px;
  color: #938E8E;
  border-radius: 8px;
  padding: 8px 25px;
  text-decoration: none;
  margin: 0 10px;
  transition: 300ms;
}

.card .button-cont .card-button:hover {
  background-color: #0e0e0e;
  color: #d3d3d3;
  transition: 300ms;
}

.section {
  padding: 45px 15px;
}

.section h2 {
  font-size: 42px;
  margin-top: 5px;
  text-align: center;
  font-weight: 900;
  color: #37a843;
}

/* HERO SECTION */
img.hero {
  max-width: 100%;
}

.hero-landing #hero-blob {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  -webkit-user-select: none;
}

.hero-landing h1 {
  font-size: 42px;
  font-weight: 900;
  color: #37a843;
  font-family: Roboto, sans-serif;
  position: relative;
  margin-top: 42px;
  user-select: text;
  -webkit-user-select: text;
}

.hero-landing .callout-card {
  background-color: white;
  height: 266px;
  width: 562px;
  color: #545454;
  border-radius: 15px;
  padding: 15px;
  box-sizing: border-box;
}

.hero-landing .callout-card h2 {
  color: #37a843;
  font-size: 24px;
  font-weight: 900;
  margin-top: 5px;
  margin-bottom: 15px;
  user-select: text;
  -webkit-user-select: text;
}

.hero-landing .callout-card p {
  font-weight: 300;
  line-height: 1.472;
  font-size: 19px;
  user-select: text;
  -webkit-user-select: text;
}

.hero-landing .callout-card a.callout-button {
  display: inline-block;
  color: white;
  background-color: #37a843;
  text-shadow: 0 0 10px rgb(0 0 0 / 69%);
  border-radius: 8px;
  padding: 8px 25px;
  text-decoration: none;
  transition: 300ms;
  font-size: 16px;
  font-weight: 400;
  margin-top: 2px;
  transition: 300ms;
  user-select: none;
  -webkit-user-select: none;
}

.hero-landing .callout-card a.callout-button:hover {
  background-color: #1e5c25;
  text-shadow: 0 0 20px rgba(0, 0, 0, 1);
  transition: 300ms;
}

.hero-landing #wbe-process {
  margin-top: 165px;
  position: relative;
  left: 125px;
}

/* WHY BRAINGENIX */
.reason {
  max-width: 674px;
  display: block;
  margin: 35px auto;
  user-select: none;
  -webkit-user-select: none;
}

.reason-icon, .reason-content {
  display: inline-block;
  vertical-align: top;
  user-select: text;
  -webkit-user-select: text;
}

.reason-icon {
  user-select: none;
  -webkit-user-select: none;
  transform: scale(1);
  transition: 300ms;
}

.reason-icon:hover {
  transform: scale(1.1);
  transition: 300ms;
}

.reason-content {
  width: calc(100% - 145px);
  padding-left: 35px;
  box-sizing: border-box;
}

.reason-content h3 {
  color: #C4C4C4;
  font-size: 32px;
  margin-top: 0;
  margin-bottom: 0;
}

.reason-content p {
  color: #8D8D8D;
  font-size: 24px;
  margin-bottom: 0;
  margin-top: 8px;
  line-height: 1.2;
}

/* GETTING STARTED */
#getting-started {
  text-align: center;
}

#getting-started .card {
  height: 250px;
  width: 303px;
  margin: 5px 15px;
}

/* FURTHER READING */
#further-reading .card {
  margin: auto;
  display: block;
}

#further-reading .card h3 {
  text-align: center;
}

/* FOOTER */
footer {
  user-select: none;
  -webkit-user-select: none;
}

footer.texture {
  width: 100%;
  padding: 25px;
  min-height: 350px;
  box-sizing: border-box;
  border-bottom-width: 0;
}

footer div.site-info {
  color: #B8B8B8;
  max-width: 960px;
  margin: auto;
  text-align: center;
}

footer div.site-info a {
  color: #B8B8B8;
  text-decoration: none;
  transition: 300ms;
}

footer p.footer-branding {
  font-size: 34.2px;
  color: #B8B8B8;
}

footer p.footer-branding a {
  opacity: 1;
  transition: 300ms;
}

footer p.footer-branding a:hover {
  opacity: .8;
  transition: 300ms;
}

footer p.footer-branding img {
  position: relative;
  left: -5px;
  top: 16px;
}

footer p.footer-info {
  font-size: 13px;
}

footer p.footer-info a:hover {
  color: #37a843;
  transition: 300ms;
}

/* MEDIA QUERIES */
@media only screen and (max-width: 1119px) {
  .hero-landing #hero-blob {
    left: -145px;
  }
}

@media only screen and (max-width: 1074px) {
  .hero-landing #wbe-process {
    left: 65px;
  }
}

@media only screen and (max-width: 1037px) {
  #getting-started .card {
    margin: 15px;
  }
}

@media only screen and (max-width: 1006px) {
  .section {
    padding-left: 25px;
    padding-right: 25px;
  }
  #content {
    padding: 0 25px;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 989px) {
  .hero-landing #wbe-process {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .b-hamburger {
    display: inline-block;
  }
  body nav ul {
    list-style: none;
    display: inline-block;
    margin: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 85px;
    padding-left: 0;
  }
  body nav ul li {
    display: block;
    padding: 0 10px;
    text-align: center;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 704px) {
  .hero-landing #hero-blob {
    left: -215px;
  }
  .section h2 {
    font-size: 29px;
  }
}

@media only screen and (max-width: 693px) {
  .reason-content h3 {
    font-size: 24px;
  }
  .reason-content p {
    font-size: 16px;
  }
  .reason-icon {
    width: 75px;
    margin-top: 7px;
  }
  .reason-content {
    width: calc(100% - 95px);
  }
  .card h3 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 643px) {
  .hero-landing #hero-blob {
    display: none;
  }
  .hero-landing .callout-card {
    width: 100%;
  }
  .hero-landing .column {
    max-width: 100%;
  }
}

@media only screen and (max-width: 524px) {
  .hero-landing .callout-card p {
    font-size: 15px;
  }
  .hero-landing .callout-card {
    height: auto;
  }
  .hero-landing p.subtitle {
    font-size: 28px;
  }
  #content.hero-landing {
    height: auto;
    min-height: auto;
    padding-bottom: 35px;
  }
}

@media only screen and (max-width: 485px) {
  .reason-content h3 {
    font-size: 18px;
  }
  .reason-content p {
    font-size: 13px;
  }
  .reason-icon {
    width: 45px;
    margin-top: 7px;
  }
  .reason-content {
    width: calc(100% - 65px);
    padding-left: 8px;
  }
}

@media only screen and (max-width: 469px) {
  #further-reading .card {
    min-height: 265px;
  }
}

@media only screen and (max-width: 402px) {
  #further-reading .card {
    min-height: 320px;
  }
  #getting-started .card {
    margin: 15px 0;
    width: 100%;
    height: auto;
    padding-bottom: 65px;
  }
}