body {
font-family: Helvetica, sans-serif;
background-color:black;
overflow-x:hidden;
}
	
::selection {
	background-color: #8244d0;
	}

.header {
background-color:#101010;
width:100%;
height:100px;
padding:20px;
}

.graphic {
width:100%;
max-height:680px;
overflow: hidden;
}
	
h3 {
color:#B8B8B8;
	}
	
p {
color: #B8B8B8;
letter-spacing:1px;
line-height:30px;
	}
	
h1 {
color:#B8B8B8; 
letter-spacing:2px;
	}

h2 {
color:#B8B8B8; 
letter-spacing:2px;
	}
	
a {
text-decoration:none;
color:#B8B8B8;
cursor:pointer;
	}
	
a:hover {
color: #008037;
	}
	
	
.nav {
margin-top:-70px;
margin-left:600px;
width:50%;
float:right;
background-color: #101010;

	}

.mobile-nav {
display:none;
}

.mobile-dropdown {
display:none;
}

.mobile-dropbtn {
  display:none;
}

.mobile-dropdown-content {
  display: none;
}
	
	.intro {
width:60%;
margin-left:auto;
margin-right:auto;
	}
	
	.main {
width:100%;
padding:20px;
margin-left:-15px;
margin-right:0px;
text-align:center;
background-color:#282828;
	}
	
 .about {
            border: none;
            color: #B8B8B8;
            background-color: #484848;
            text-align: center;
            text-decoration: none;
            border-radius: 10px;
            display: inline-block;
            font-size: 16px;
            padding: 9px 30px;
            cursor: pointer;
        }
	
.icon-text {
	width:200px;
	margin-right:20px;
	float:left;
	text-align:center;
	}

.icon-mobile {
	display:none;
}

.gradient-mobile {
	display:none;
}
	
	.wbe {
width:45%;
margin-left:auto;
margin-right:auto;
	}

.function-image-mobile {
	display: none;
}
	
	\\dropdown menu
	
	.dropbtn {
  color: white;
  padding: 16px;
  font-size: 20px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #484848;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: #B8B8B8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: white;}

.dropdown:hover .dropdown-content {display: block;}